.idea
coverage
node_modules
unit_coverage
client/dev/bower_components
typings
client/**/*.js
client/**/*.map
server/**/*.js
server/**/*.map
tests/client/**/*.js
tests/client/**/*.map

db

#servers
!server/index.js


#client
!client/config.js